.role-holder {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
}

.hours_entry-dates-holder-toggle {
  cursor: pointer;
}

.hours-entry-date-toggle {
  cursor: pointer;
}