@media(max-width:767px) {
  .restrict-right {
    margin-right: 80px;
  }
}

@media(min-width:768px) {
  .restrict-right {
    margin-right: 125px;
  }
}

.role-holder {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 30px;

  h4 {
    font-weight: 500;
  }

  .role-title-holder {
    margin-top: -5px;
    position: relative;

    .role-title {

      i {
        margin-left: 5px;
      }
    }
  }
  
  .role-description {
    margin-top: 20px;

    p {
      line-height: 1.3;
    }

    i {
      margin-left: 5px;
    }
  }
}

.role-title.can-click, .role-description.can-click {
  cursor: pointer;
}

.edit-role-title-input-holder, .role-description-input-holder {
  margin-top: 10px;
}

.role-description-input {
  // white-space: pre;
}

.save-role-details-button {
  margin-bottom: 5px;
}

.hours_entry-dates-holder-toggle {
  cursor: pointer;
  color: #1695A3;
  font-style: italic;
  font-size: 12px;

  i {
    margin-right: 5px;
  }
}

.hours-entry-date-toggle {
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.hours-entry-details {
  font-size: 14px;
  line-height: 1.3;

  .hours-entry-description {
    margin: 10px 0px;

    .created {
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  .hours-entry-amount {
    margin-bottom: 10px;
  }

  .hours-entry-verifier {
    margin: 10px 0px;
  }

  .subtitle {
    text-decoration: underline;
  }

  .hours-entry-delete {
    margin: 10px 0px;
    font-size: 12px;

    i {
      margin-right: 5px;
    }
  }
}

.hours-entry-dates {
  .dates-text {
    p {
      font-size: 14px;
      line-height: 1.3;
    }
  }
}

.log-more-hours {
  margin-bottom: 30px;
  color: #1695A3;

  &:hover {
    color: #225378;
  }

  i {
    font-size: 30px;
    margin-right: 5px;
  }

  .log-more-hours-text {
    margin-left: 0px;
    margin-top: 3px;
  }
}

// Ribbon from here: http://cssdeck.com/labs/pure-css3-smooth-ribbon-with-borders

@media(max-width:767px) {
  .hours-ribbon {
    right: 15px;
  }

  .ribbon-container {
    width: 60px;
    height: 70px;
  }

  .base {
    width: 60px;
  }

  .base:before {
    width: 48px;
    height: 60px;
  }

  .base:after {
    width: 48px;
    height: 60px;
  }

  .left_corner {
    width: 50px;
    height: 50px;
    bottom: 12px;
    left: -15px;
  }

  .right_corner {
    width: 50px;
    height: 50px;
    bottom: 12px;
    right: -15px;
  }
}

@media(min-width:768px) {
  .hours-ribbon {
    right: 30px;
  }

  .ribbon-container {
    width: 100px;
    height: 100px;
  }

  .base {
    width: 100px;
  }

  .base:before {
    width: 86px;
    height: 80px;
  }

  .base:after {
    width: 86px;
    height: 80px;
  }

  .hours-count-holder {
    font-size: 26px;
  }

  .left_corner {
    width: 100px;
    height: 100px;
    bottom: 20px;
    left: -50px;
  }

  .right_corner {
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: -50px;
  }
}

.hours-ribbon {
  margin-left: auto;
  position: absolute;
  top: 0px;
  overflow: hidden;

  .hours-count-holder {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 3;
    font-weight: bold;
    color: white;
    text-align: center;


    .hours-count-inner-holder {
      color: white;
      position: relative;
      left: -50%;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }

    .hours-word {
      font-size: 14px;
      font-weight: 100;
    }
  }

  .ribbon-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .base {
    height: 50px;
    
    background: rgb(199,59,60);
    background: -moz-linear-gradient(top,  rgba(199,59,60,1) 0%, rgba(184,32,31,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,59,60,1)), color-stop(100%,rgba(184,32,31,1)));
    background: -webkit-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: -o-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: -ms-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    background: linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );

    position: relative;
    z-index: 2;
  }

  .base:after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    border-left: 1px dashed #631a15;
    border-right: 1px dashed #631a15;
  }

  .base:before {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    border-left: 1px dashed #da5050;
    border-right: 1px dashed #da5050;
  }

  .left_corner {
    background: #b8201f;
    position: absolute;
    z-index: 1;
    
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }

  .right_corner {
    background: #b8201f;
    position: absolute;
    z-index: 1;
    
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
