= "Hi #{@user.first_name},"
br
br
| Welcome to Time Auction Hong Kong!
br
br
= "We have a great partnership with #{link_to 'Hands On Hong Kong', 'http://handsonhongkong.org'} that you might like to look into.".html_safe
br
br
| Cheers!
br
| Suetyi and Fion
br
| Co-Founders, Time Auction Hong Kong