.tabs.vertical {
  dd {
    width: 200px;
  }
}


.tabs-content.vertical {
  width: auto;
  margin-bottom: 0 !important;
  .content {
    padding: 0 !important;
  }
}

.small-screen-faq-tabs {
  margin-bottom: 30px !important;
}

.faq-floating-right-tabs {
  position: fixed;
  z-index: 10;
}

.one-page-faq {
  .video-section {
    margin-bottom: 30px;

    h4 {
      margin-bottom: 20px;
    }

    .video-link {
      padding: 10px;
      border: 1px solid #225378;
      margin: 0px 5px;

      i {
        margin-left: 5px;
      }

      &:hover {
        background-color: #F3FFE2;
      }
    }
  }


  .question-section {
    p {
      margin-bottom: 5px;
    }
  }

  .question-holder {
    margin-bottom: 30px;

    .answer {
      margin-top: 10px;

      p:last-child {
        margin-bottom: 0px;
      }

      p:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .back-to-top-link {
    font-size: 12px;

    i {
      margin-right: 5px;
    }
  }
}