.survey-holder {
  height: 150px;
  margin-top: -20px;
  width: 100%;
  background-color: #225378;

  h6 {
    padding-top: 30px;
    color: white;
  }

  table {
    border: none;
    float: left;
    tbody {
      background-color: #225378;
      td {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;
        color: white;
        i {
          position: absolute;
          top: 13px;
          left: 14px;
        }
        &:hover {
          background-color: #ACF0F2;
          color: #225378;
        }
      }
      .active {
        background-color: #ACF0F2 !important;
        color: #225378 !important;
      }
    }
  }
}

.survey-satisfaction-holder {
  position: relative;
}


.survey-submit-button {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

.survey-hold-back-holder, .survey-ask-email {
  position: relative;
  .survey-self-input, .survey-email-input {
    height: 34px;
    background-color: #225378;
    border: 1px solid white;
    padding: 10px;
    margin-left: 0px !important;
    color: white;
  }
}

.reason-button-holder {
  display: inline-block;
}

.reason-button {
  border: 1px white solid;
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    background-color: #ACF0F2;
    color: #225378;
  }
}

.reason-button.active {
  background-color: #ACF0F2 !important;
  color: #225378 !important;
}

.survey-2, .survey-3 {
  margin-left: 5px;
}

.survey-ask-email {
  padding-top: 40px;
}

.survey-use-my-email-text {
  margin-left: 5px;
  font-size: 14px;
  color: white;
}

.survey-email-input {
  width: 200px;
}

.survey-thank-you {
  padding-top: 25px;
}