.tier-holder {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 10px;
  position: relative;
}

.add-a-reward {
  border: 3px dotted lightgrey;
  padding-top: 60%;
  width: 303px;
  height: 378px;
  position: absolute;
  top: 0;
  right: -318px;
  text-align: center;
}

.reward-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.reward-count {
  margin-bottom: 20px;
}
