.tier-holder {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 10px;
  position: relative;
}

.reward-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.reward-count {
  margin-bottom: 20px;
}