.tier-holder {
  border: 1px solid lightgrey;
  background-color: white;
  padding: 10px;
  position: relative;
}

.add-a-reward {
  position: absolute;
  width: 303px;
  height: 100%;
  border: 2px dotted lightgrey;
  padding-top: 65%;
  text-align: center;
  &:hover {
    background-color: #F3FFE2;
  }
}

.add-a-reward-icon {
  position: absolute;
  top: 40%;
  left: 43%;
  z-index: 100;
}

.reward-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.reward-count {
  margin-bottom: 20px;
}
