.button.tiny.bid-button.secondary data-reward-id="#{reward.id}" data-signed-in="#{user_signed_in?}" data-auction-started="#{auction.started?}" data-auction-not-started-path="#{reward_not_started_path(reward.id)}" data-check-user-premium-path="#{check_user_premium_path}" data-bid-path="#{bid_path(auction, reward)}" data-can-bid="#{@can_bid}" data-who-can-bid="#{@who_can_bid}" data-is-org-auction="#{@org.present?}" data-complete-org-info="#{@complete_org_info}" data-enough-hours="#{current_user ? current_user.enough_hours_for(reward) : false}" data-min-bid="#{reward.amount}" data-at-max-bid="#{current_user ? current_user.already_at_max_bid?(reward, max_bid) : false}"
  = @button_text