= "Hi #{@first_name},".html_safe
br
br
= "Congratulations! <strong>Your application is successful to meet with #{@donor_name.strip}, #{@donor_position.strip}</strong>.".html_safe
br
br
= "<strong>Next Steps:</strong>".html_safe
br
= "1) Volunteer 10 hours for any charity. Check out our charity partner #{link_to 'HandsOn', 'http://handsonhongkong.org'}, which offers over 20 volunteer opportunities per week.".html_safe
br
= "2) Log your hours - #{link_to 'Sign in', 'https://timeauction.hk'} and click \"Hours Log\" on the upper right corner.".html_safe
br
= "3) You'll be contacted to schedule the meeting shortly.".html_safe
br
br
= "Let us know if you have any questions. Thanks again for joining us!".html_safe
br
br
| See you soon,
br
| Time Auction Team
br
br
= "Cancellation Policy: If you foresee that you cannot complete 10 hours of volunteer work, please inform us within 1 week of receiving this email.".html_safe