= "Someone placed a #{@type.downcase} bid on a reward!"
br
br
= "Karma Points: #{@points_bid}"
br
= "Display Name: #{@name}, ID: #{@user_id}"
br
= "Auction: #{link_to @auction.title, auction_url(@auction)}".html_safe
br
= "Experience: #{@reward.title}"