.step-header {
  margin-bottom: 10px;
}

.bid-step-back-link {
  float: left;
  margin-top: 15px;
  font-style: italic;
  cursor: pointer;
}

.bid-step-next-button {
  float: right;
}

.phone-number-why {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}

.bid-info-panel, .bid-sum-panel {
  background-color: white !important;
}

.total-hours-title, .hours-remaining-title {
  color: black;
  font-style: italic;

  .fa-question-circle {
    text-align: center;
    width: 20px;
    border: none;

    &:hover {
      border: none;
    }
  }
}

.hours-remaining-count {
  font-size: 80px;
  margin-top: 15px !important;
  color: grey;
}

.hours-to-bid {
  font-size: 80px;
  margin-top: 15px !important;
  color: black;
  width: 100px;
}

.hours-toggles {
  margin-top: 25px;
  margin-left: 100px;
  color: #EB7F00;
  font-size: 32px;

  i {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }
}

.total-hours-input {
  height: 80px;
  font-size: 80px;
}