.step-header {
  margin: 40px 0px 10px 0px;
}

.bid-step-back-link {
  float: left;
  margin-top: 15px;
  font-style: italic;
  cursor: pointer;
}

.bid-step-next-button {
  float: right;
}

.phone-number-why {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}

.total-hours-title {
  color: black;
  font-style: italic;
}

.total-hours-bid-count {
  font-size: 80px;
  margin-top: 15px !important;
  color: black;
}