.step-header {
  margin-bottom: 10px;
}

.bid-step-back-link {
  float: left;
  margin-top: 15px;
  font-style: italic;
  cursor: pointer;
}

.bid-step-next-button {
  float: right;
}

.phone-number {
  margin-top: -5px !important;
}

.phone-number-why {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}

.bid-info-panel, .bid-sum-panel {
  background-color: white !important;
}

.total-hours-title, .hours-remaining-title {
  color: black;
  font-style: italic;

  .fa-question-circle {
    text-align: center;
    width: 20px;
    border: none;

    &:hover {
      border: none;
    }
  }
}

.hours-remaining-count {
  font-size: 80px;
  margin-top: 15px !important;
  color: grey;

  &.small {
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 64em) {
  .hours-remaining-count {
    margin-bottom: 20px;
  }
}

.hours-to-bid {
  font-size: 80px;
  margin-top: 15px !important;
  color: black;
  width: 150px;
}

.hours-toggles {
  margin-top: 25px;
  margin-left: 100px;
  color: #EB7F00;
  font-size: 32px;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  i {
    cursor: pointer;
  }
}

.total-hours-input {
  height: 80px;
  font-size: 80px;
}

.confirm-step-panel {
  background-color: white !important;

  .last-name, .email, .password {
    margin-top: -5px;
  }
}

.summary-of-actions-numbers {
  text-align: right;

  h6 {
    font-weight: bold;
  }
}

.bid-process-note-charge-existing-card {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}

.bid-process-boolean-text {
  line-height: 1.3;
  margin-bottom: 10px;
}

.verify-step-holder {
  .error {
    small {
      margin-top: -17px;
    }
  }
}