// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .step-circle-empty {
    font-size: 14px;
    line-height: 24px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
  }

  .step-circle-full {
    font-size: 14px;
    line-height: 24px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
  }

  .step-description-text-empty {
    width: 100px;
    left: -38px;
    bottom: -30px;
    font-size: 12px;
  }

  .step-description-text-full {
    width: 100px;
    left: -38px;
    bottom: -30px;
    font-size: 12px;
  }

  .step-line {
    margin: 10px 10px 15px 10px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .step-circle-empty {
    font-size: 37.2px;
    line-height: 54px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }

  .step-circle-full {
    font-size: 37.2px;
    line-height: 54px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }

  .step-description-text-empty {
    width: 100px;
    left: -22px;
    bottom: -50px;
    font-size: 14px;
  }

  .step-description-text-full {
    width: 100px;
    left: -22px;
    bottom: -50px;
    font-size: 14px;
  }

  .step-line {
    margin: 20px 20px 40px 20px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */