.organization-logo-with-border {
  border: 1px solid lightgrey;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  height: 50px;
  position: relative;
  width: 50px;
}

.organization-selection-holder {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #F3FFE2;
  }

  .org-selection-name {
    font-weight: bold;
    color: black;
  }

  .org-selection-people-descriptor {
    font-style: italic;
    font-size: 14px;
    color: grey;
  }

  .org-selected-checkmark {
    font-size: 30px;
    color: limegreen;
    float: right;
    margin-top: 10px;
  }

}

.organization-selection-holder-selected {
  background-color: #F3FFE2;
}

.organization-fields-holder {
  padding: 10px;
}