= "#{@greeting},".html_safe
br
br
= "My name is David and I'm with a social enterprise called Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to meet inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}).".html_safe
br
br
= "We figured #{@club} members might be interested in connecting with inspiring people like Astronaut Chris Hadfield or Frank O'Dea, the homeless man who became the CEO of Second Cup Coffee. Anyone who has volunteered at least 5 hours in 2015 can join an interactive Google Hangout Q&A with these people.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. These Time Auction end this Friday, Jun. 19, 2015.".html_safe
br
br
= "Is this an opportunity #{@club} might be interested in sharing with its members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe