= "#{@greeting},".html_safe
br
br
= "The President of UN Women Canada - Almas Jiwani - is currently doing a Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to meet inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}). We've previously been #{link_to 'covered by CBC and GlobalTV', 'https://www.timeauction.org/media'} amongst others.".html_safe
br
br
= "We figured #{@club} members would probably be interested in chatting with Ms. Jiwani about her work with the UN and gender equality. Through Time Auction, anyone who has volunteered at least 5 hours in 2015 can join an interactive Google Hangout Q&A with Ms. Jiwani.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. Ms. Jiwani's Time Auction ends this Friday, Jun. 19, 2015, along with our Time Auction with Astronaut Chris Hadfield.".html_safe
br
br
= "Is this an opportunity you might be interested in sharing with your members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe