= "#{@greeting},".html_safe
br
br
= "My name is David and I'm with a social enterprise called Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to meet inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}).".html_safe
br
br
= "Would #{@club} members be interested in connecting with inspiring people like the Founder of Wind Mobile, current MP Candidate Olivia Chow, or the author of Rich Dad Poor Dad? Through Time Auction, anyone who has volunteered at least one hour in the past year can bid to meet our roster of inspiring people.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. Bidding on this round of Time Auctions ends on Aug. 31, 2015.".html_safe
br
br
= "Is this an opportunity you might be interested in sharing with your members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| 604.655.7008