= "#{@greeting},".html_safe
br
br
= "My name is David and I'm with a social enterprise called Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to connect with inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}).".html_safe
br
br
= "Through Time Auction, anyone who has volunteered in the past year can bid their hours to meet our roster of inspiring people. Right now, we have the best-selling author of Rich Dad Poor Dad, Robert Kiyosaki, as a Time Auction.".html_safe
br
br
= "Volunteer hours for #{@club} or other school clubs at #{@school} count. Bidding ends on Aug. 31, 2015.".html_safe
br
br
= "Since your club promotes volunteerism, is this an opportunity you might like to share with your members? Happy to provide more details via email or a quick call.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| 604.655.7008