= "#{@greeting},".html_safe
br
br
= "The founder of Wind Mobile, Tony Lacavera, is currently doing a Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency for priceless experiences (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}).".html_safe
br
br
= "Would #{@club} members be interested in grabbing an exclusive lunch with Tony? Anyone who has volunteered in the last year can bid on Tony's Time Auction to do just that.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. Bidding to join Tony's Time Auction ends on Aug. 31, 2015.".html_safe
br
br
= "Is this an opportunity you might be interested in sharing with your members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| 604.655.7008