= "#{@greeting},".html_safe
br
br
= "The Managing Director of Google Canada - Sam Sebastien - is currently doing a Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to meet inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}).".html_safe
br
br
= "We figured #{@club} members would probably be interested in chatting with Sam about technology, the Internet, and all things Google. Anyone who has volunteered at least 5 hours in 2015 can join an interactive Google Hangout Q&A with Sam.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. Sam's Time Auction ends this Friday, Jun. 19, 2015.".html_safe
br
br
= "Is this an opportunity #{@club} might be interested in sharing with its members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe