= "#{@greeting},".html_safe
br
br
= "Olivia Chow, former MP and candidate for Mayor of Toronto, is currently doing a Time Auction. Time Auction is a website where students can turn volunteer hours they've done into a currency to meet inspiring people (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}). We've previously been covered by CBC and GlobalTV amongst others.".html_safe
br
br
= "We figured #{@club} members would probably be interested in a Q&A with Olivia about her work as a public servant. Through Time Auction, anyone who has volunteered in the last year can join an #{link_to 'interactive Google Hangout with her', 'https://www.timeauction.org/auctions/275'}.".html_safe
br
br
= "Volunteer hours for school clubs at #{@school} or any registered nonprofit count. Bidding to join Olivia's Time Auction ends on Aug. 31, 2015.".html_safe
br
br
= "Is this an opportunity you might be interested in sharing with your members? I'd be happy to provide more details via email or a quick call if you like.".html_safe
br
br
| Cheers!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| 604.655.7008