= "#{@greeting},".html_safe
br
br
= "It means so much to us that you are a part of the Time Auction community. Thank you!"
br
br
= "We have started a new project related to volunteerism. Since you're an active member, we'd love your feedback on it."
br
br
= "Do you have 15 minutes sometime next week to chat? If you're open to it, please let me know what times work well for you."
br
br
| Thanks again for being a great volunteer,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| +1.604.655.7008