= "#{@greeting},".html_safe
br
br
= "Co-founder of Time Auction here. My name is David - nice to meet you!"
br
br
= "We have started a new project related to volunteerism, and we'd love some feedback."
br
br
= "Do you have 15 minutes sometime next week to chat? If you're open to it, please let me know what times work well for you."
br
br
| Cheers,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| +1.604.655.7008