= "Hi #{@first_name},".html_safe
br
br
= "My name is David Wen and I run a website called Time Auction. Time Auction allows volunteers to bid volunteer hours to meet inspiring people. For example, a volunteer can bid 20 hours to meet the Co-Founder of Tim Hortons.".html_safe
br
br
= "Time Auction also works with universities to help them run their own Time Auctions. For example, the Sauder School of Business at UBC is running one now. They have auctions like, \"Lunch with the CEO of Whistler Blackcomb\" and \"Watch a Canucks game with the Canucks COO\". You can see their auctions here: www.timeauction.org/sauder".html_safe
br
br
= "#{@long_name} came to mind, since we're now looking to pilot the same university program with well-regarded hospital foundations. It would be an innovative way to engage #{@short_name} volunteers while building relationships with potential major donors. I'd love to set up a 15-min call to chat further if you'd like to learn more?".html_safe
br
br
| Cheers,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org/"