= "Hi #{@first_name},".html_safe
br
br
= "My name is David Wen and I run a website called Time Auction. Time Auction allows students to bid volunteer hours to meet inspiring people. For example, a student can bid 20 volunteer hours to meet the Co-Founder of Tim Hortons.".html_safe
br
br
= "We have raised over 11,000 volunteer hours to date, and are working with universities such as the University of Toronto and UBC. We help these universities engage their students to volunteer and to meet inspiring people in the community. Often times, these inspiring people are the school's own alumni. We're now looking to pilot the same university program with prominent independent high schools, and #{@long_name} came to mind.".html_safe
br
br
= "Our work can be found at www.timeauction.org. I'd love to setup a call if you'd like to learn more about how this might work for #{@short_name}?".html_safe
br
br
| Cheers,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org/"