= "Hi #{@first_name},".html_safe
br
br
= "My name is David Wen and I run a social enterprise called Time Auction. Time Auction allows students to bid volunteer hours to meet prominent people. For example, a student can bid 20 volunteer hours to meet the Co-Founder of Reddit.".html_safe
br
br
= "Universities can use Time Auction as an effective tool to engage prominent alumni. One hour of a prominent alum's time on Time Auction can be leveraged into 30 or 40 volunteer hours done by students. Once these prominent alumni meet students who are doing great volunteer work, the relationship is then well-primed for the school's development team to take over. The University of British Columbia (UBC) in Canada had a 70% success rate when it asked its prominent alumni to be Time Auctions for its students. Many of these alumni are high net worth individuals who have not engaged with the school in the past.".html_safe
br
br
= "#{@long_name} came to mind, since we're now looking to work with well-regarded universities south of the border. It would be a meaningful way to steward potential major donors while connecting #{@short_name} students with alumni. Would you be open to a 15-min call to learn more about how it works?".html_safe
br
br
| Cheers,
br
| David
br
br
= "P.S. One of the UBC Time Auctions was covered by a major news network in Canada, and you can watch it here: #{link_to 'http://globalnews.ca/video/1875708/volunteers-trade-hours-for-experiences-with-experts', 'http://globalnews.ca/video/1875708/volunteers-trade-hours-for-experiences-with-experts'}".html_safe
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org/"