= "Hi #{@addressed_to},".html_safe
br
br
= "With the school year winding down, many students have collected most, if not all, of their 40 volunteer hours. To encourage and recognize the volunteering work students have done, my friend and I created a social enterprise that lets students use those hard-earned volunteer hours as currency to meet inspiring people. We have astronaut Chris Hadfield and the Managing Director of Google Canada for students to meet, among others.".html_safe
br
br
= "This could be a neat way for students to learn about the intangible returns of community service, while meeting successful Canadians in Ottawa and beyond. Our website is called Time Auction, and you can check it out at #{link_to 'www.timeauction.org', 'https://www.timeauction.org'}.".html_safe
br
br
= "If you think students at #{@short_name} might like this, I'd love to chat about ways to let them know about the opportunity. You can reach me by email, or by phone at 604.655.7008.".html_safe
br
br
= "Look forward to hearing from you, #{@addressed_to}."
br
| David
br
br
| -- 
br
= "<strong>David Wen</strong>, Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org"
br
| 604.655.7008