= "Hi #{@first_name},".html_safe
br
br
= "We take 30 minutes of a prominent person's time and leverage it to raise volunteer hours and donation dollars. For example, Astronaut Chris Hadfield recently raised 430 volunteer hours - a 860x return on his time.".html_safe
br
br
= "The initiative is called Time Auction (#{link_to 'www.timeauction.org', 'https://www.timeauction.org'}). We want to invite you to be a Time Auction as well - maybe #{@suggestion}?".html_safe
br
br
= "Would love to chat more if you're interested.".html_safe
br
br
| Thanks!
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "https://www.timeauction.org".html_safe
br
| +1.604.655.7008