= "Hi #{@first_name},".html_safe
br
br
= "Just want to reach out personally and say thank you for being a part of the Time Auction community. Thank you!"
br
br
= "I see here that you've created an account, but haven't made a bid yet. How can we better serve your needs? Is it our selection of rewards? Is it a rule that we have?"
br
br
= "We'd love to better understand your thought process on Sauder's Time Auctions. If you're open to it, please let me know what times work well for you for a quick 15-min chat - we'd really appreciate it!"
br
br
| Thanks again for supporting volunteerism,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "http://www.timeauction.org/"