= "Hi #{@first_name},".html_safe
br
br
= "I want to reach out personally and say thank you for being a part of the Time Auction community."
br
br
= "We've noticed that you've subscribed, but haven't made an account to bid yet. How can we better serve your needs? Is it our selection of rewards? Is it a rule that we have? Do we look funny?"
br
br
= "I'd love to setup a quick 15min. chat with you sometime next week to better understand how we can improve. If you're open to it, please let me know what times work well for you."
br
br
| Thanks again for supporting volunteerism,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "http://www.timeauction.org/"