= "Hi #{@first_name},".html_safe
br
br
= "My name is David Wen and I run a website called Time Auction, which allows people to trade volunteer hours to meet inspiring people (www.timeauction.org)."
br
br
= "In the past, we've had auctions like meeting the Co-Founder of Reddit or the Founder of Engineers Without Borders. We have raised over 9,000 volunteer hours to date, including in cities like San Francisco, Portland, and Austin."
br
br
= "We are now working with Sauder School of Business in Vancouver, Canada, to help them run a Time Auction (www.timeauction.org/sauder). The auctions are the school's prominent alumni and the bidders would be current students. This is an innovative way to connect students to alumni, while encouraging volunteerism and building relationships. It's something I see #{@school_in_content} emphasizes.".html_safe
br
br
= "I'd love to chat further if you think this might be interesting for your students and alumni. Perhaps we can set up a 20min. call after the Thanksgiving holidays?"
br
br
| Cheers,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", "http://www.timeauction.org/"