div style="font-style: italic; color: black; padding: 10px 0px; font-size: 14px;"
  = "Time Auction's mission is to turn volunteering from a task into a desire. Source: #{link_to 'www.timeauction.org', root_path}".html_safe