.auctions-coming-soon {
  h2 {
    text-align: center;
  }

  .next-round-text {
    text-align: center;
    margin: 20px 0px;
  }
}

.browse-auctions {
  h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.make-columns-same-height {
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}

.auction-index-detail-column-right {
  background-color: #225378;
  position: relative;
  color: white;
  a {
    color: white;
  }
}

.auction-index-detail-column-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #225378;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 7%;
}

.auction-index-detail-column-left {
  background-color: #225378;
  text-align: right;
  position: relative;
  color: white;
  a {
    color: white;
  }
}

.auction-index-detail-column-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #225378;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 7%;
}

.auction-index-detail-holder {
  padding: 20px;

  h5 {
    color: #F3FFE2;
  }

  a {
    &:hover {
      color: #ACF0F2;
    }
  }
}

.auction-index-detail-numbers {
  margin: 30px 0px;
  font-size: 18px;
  font-style: italic;
  color: #ACF0F2;
}

.auctions-index-panel {
  margin-top: 30px;

  h5 {
    line-height: 1.5 !important;
  }
}