.auction-not-yet-approved {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: #EB7F00;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.auction-over-banner {
  width: 100%;
  height: 30px;
  background-color: #225378;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.auction-over-banner-on-grid {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #225378;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-style: italic;
}