.auction-show-holder {
  margin-top: 30px;
}

.auction-right-box {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
}

.auction-status-number {
  font-size: 50px;
  .suffix {
    font-size: 16px;
    line-height: 50px;
  }
}

.auction-reward-box {
  background-color: #ACF0F2;
  border: 1px solid lightgrey;
  padding: 20px;
}