.auction-show-holder {
  margin: 30px 0px;
  img {
    background-color: white;
    border: 1px solid lightgrey;
  }
}

.auction-right-box {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
}

.auction-status-number {
  font-size: 50px;
  color: #EB7F00;
  margin-bottom: 20px;
  .suffix {
    font-size: 16px;
    line-height: 50px;
    color: #225378;
    margin-left: 5px;
  }
  .lower-detail {
    font-size: 16px;
    color: #1695A3;
    margin-top: -10px;
    font-style: italic;
  }
}

.auction-rewards {
  margin-bottom: 30px;
}

.auction-reward-box {
  background-color: #225378;
  padding: 20px;
  color: white;
}

.auction-reward-amount {
  color: #ACF0F2;
  font-style: italic;
  font-size: 14px;
}

.auction-reward-title {
  h5 {
    color: white;
  }
}

.auction-reward-description {
  margin-top: 15px;
  p {
    font-size: 12px;
  }
}

.limited-text {
  font-size: 12px;
  font-style: italic;
  color: #ACF0F2;
}

.auction-tab-content {
  clear: both;
  padding: 10px;
  background-color: #F7F7F7;
}

.bid-button {
  margin-bottom: 0px;
  color: black;
  font-size: 14px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ACF0F2;
  background-image: -webkit-linear-gradient(top,#82CFD1,#ACF0F2);
  background-image: -moz-linear-gradient(top,#82CFD1,#ACF0F2);
  background-image: -ms-linear-gradient(top,#82CFD1,#ACF0F2);
  background-image: -o-linear-gradient(top,#82CFD1,#ACF0F2);
  background-image: linear-gradient(top,#82CFD1,#ACF0F2);
  text-shadow: 0 1px rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  white-space: nowrap;
  outline: 0;
  &:hover {
    background-image: -webkit-linear-gradient(top,#75C7C9,#91E8EB);
    background-image: -moz-linear-gradient(top,#75C7C9,#91E8EB);
    background-image: -ms-linear-gradient(top,#75C7C9,#91E8EB);
    background-image: -o-linear-gradient(top,#75C7C9,#91E8EB);
    background-image: linear-gradient(top,#75C7C9,#91E8EB);
  }
}

.bid-form {
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 20px;
}

.auction-tab-content {
  .fb_iframe_widget,
  .fb_iframe_widget span,
  .fb_iframe_widget iframe[style]  {width: 100% !important;}
}

.second-reward-tab-link {
  background: none !important;
  padding-left: 0px !important;
  color: #EB7F00 !important;
  padding: 0px;
  &:hover {
    color: #1695A3 !important;
  }
}

.question-hours {
  font-style: italic;
  margin-top: 10px;
  font-size: 12px;
  a {
    color: #ACF0F2;
    &:hover {
      color: white;
    }
  }
}

iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.use-volunteer-hours-holder {
  margin-top: 20px;
  margin-bottom: -10px;
  input {
    margin-right: 5px;
  }
}

.auction_message_banner {
  min-height: 50px;
  background-color: #EB7F00;
  padding: 0 10px;
  h5 {  
    line-height: 50px;
    color: white;
  }
}

.auction-message-for-donor-holder {
  border: 1px solid lightgrey;
  padding: 10px 10px 0px 10px;
  margin-bottom: 30px;
}

.auction-message-for-donor-box-top {
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  font-style: italic;
  font-size: 14px;
}

.auction-message-for-donor-box-top:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #F7F7F7 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 30px;
}

.auction-message-for-donor-box-bottom {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
}

.auction-show-bottom-bid-holder {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 10px;
}