.hours-entry-row {
  cursor: pointer;
  &:hover {
    td {
      color: #225378;
    }
  }
}

.verification-legend {
  margin-top: 20px;
}

table.hours-log {
  margin-top: 20px;
}

.in-table-icon {
  margin-left: 10px;
}

.hours-icon {
  color: #EB7F00;
}

.on-show-page {
  margin-right: 5px;
}

.hour-count-box {
  background-color: white;
  border: 1px solid lightgrey;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  .number {
    color: black;
  }
  .text {
    font-style: italic;
    margin-top: 5px;
  }
}

.hours_entry_organization.error {
  small {
    margin-top: -16px;
  }
}

.ui-menu .ui-menu-item a{
  background: white;
}

ul.ui-autocomplete {
  li {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
  }
}

.ui-corner-all {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #ACF0F2 !important;
  border: none !important;
  color: #225378 !important;
  border-radius: 0 !important;
  font-weight: normal !important;
}