.landing-corporate-flash {
  color: #ACF0F2;
  &:hover {
    color: white;
  }
}

.landing-banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  // background-image: url("https://s3-us-west-2.amazonaws.com/timeauction/clock1.jpg");
  position: relative;
  margin-top: -20px;
}

.website-main-title-holder {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.website-main-title {
  color: white;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

.orbit-next, .orbit-prev {
  z-index: 1000 !important;
}

.orbit-caption-area {
  z-index: 100;
}

.landing-banner-title {
  width: 100%;
  position: absolute;
  z-index: 100;

  h1 {
    color: white;
  }
  h2 {
    color: white;
    margin-top: -10px;
    font-size: 24px;
  }
  h3.subheader {
    color: #F3FFE2;
    margin-top: -5px;
    font-size: 20px;
  }
}

.landing-learn-more-link, .auction-header-how-does-it-work {
  a {
    font-style: italic;
    color: #F3FFE2;
    &:hover {
      color: white;
    }
  }
}

.donor-landing-banner-title {
  width: 100%;
  position: absolute;
  margin-top: 15%;
  text-align: center;
  z-index: 100;
  h1 {
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    color: white;
    font-weight: bold;
  }
  h3.subheader {
    color: #F3FFE2;
    margin-top: -5px;
    font-size: 20px;
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.landing-section {
  h3 {
    padding: 30px 0px;
    text-align: center;
  }
  .button-holder {
    text-align: center;
  }
}

.how-it-works-landing-banner {
  padding: 30px 0px !important;
}

.org-specifc-rules-text {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
}

.how-it-works-landing-banner {
  background-color: white;
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  h4 {
    margin: 20px 0px;
  }
}

.landing-icon {
  font-size: 70px;
  color: #EB7F00;
}

.number-circle {
  font-size: 37.2px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  display: inline-block;
  background: #EB7F00;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: white;
}

.landing-hours-count {
  width: 100%;
  position: relative;
  .landing-hours-count-background-image {
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.5;
  }
  .landing-hours-title-holder {  
    position: absolute;
    width: 100%;
    z-index: 100;
    opacity: 1;
    margin-top: -350px;
    h1 {
      text-align: center;
      font-family: sans-serif;
    }
    h3 {
      text-align: center;
    }
  }
}

.landing-user-testimonials-holder {
  text-align: center;
  border-top: 2px solid rgba(45,51,59,0.05);
  border-bottom: 2px solid rgba(45,51,59,0.05);
}

.landing-user-testimonials-holder, .testimonial-page {
  h3 {
    margin-bottom: 20px;
  }

  .user-testimonial {
    padding: 30px 50px 0px 50px;
    text-align: left;
  }

  .user-details {
    line-height: 1.3;
    margin-top: 20px;

    .bid-on-link {
      display: inline;
      color: #1695A3;
      &:hover {
        color: #EB7F00;
      }
    }
  }
}

.user-testimonial-image {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-email-signup {
  padding: 60px 0px;
}

.next-round-starts {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 30px;
  font-style: italic;
}

.next-auction-image {
  border: 1px solid lightgrey;
  &:hover {
    outline: none;
    border-color: #ACF0F2;
    box-shadow: 0 0 10px #ACF0F2;
  }
}

.next-auction-content {
  margin-bottom: 30px;
  h5 {
    margin-top: 10px;
    margin-bottom: -5px;
  }
}

.landing-page-global-news-link {
  a {
    &:hover {
      color: #1695A3;
    }
  }

  .fa-video-camera {
    margin-right: 5px;
  }
}