.landing-banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -20px;
  border-bottom: 1px solid lightgrey;
}

.orbit-container, .featured-auctions-orbit {
  height: 100% !important;
  li {
    height: 100% !important;
  }
}

.landing-banner-title {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  text-align: center;
  z-index: 100;
  h1 {
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    color: white;
    font-weight: bold;
  }
  h3.subheader {
    color: #F3FFE2;
    margin-top: -5px;
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 60%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.landing-section {
  h3 {
    padding: 30px 0px;
    text-align: center;
  }
  .button-holder {
    text-align: center;
  }
}

.landing-message {
  height: 200px;
  padding: 30px 0px;
  text-align: center;
  h3 a { 
    color: black !important;
  }
}

.number-circle {
  font-size: 37.2px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  display: inline-block;
  background: white;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: #225378;
  margin: 0 0 32px;
}

.next-round-starts {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 30px;
  font-style: italic;
}

.next-auction-image {
  border: 1px solid lightgrey;
  &:hover {
    outline: none;
    border-color: #ACF0F2;
    box-shadow: 0 0 10px #ACF0F2;
  }
}

.next-auction-content {
  margin-bottom: 30px;
  h5 {
    margin-top: 10px;
    margin-bottom: -5px;
  }
}