.landing-banner-two {
  background-color: white;
  margin-top: -20px;
  padding-top: 50px;
}

.landing-banner-two-content {
  position: absolute;
  width: 100%;
  z-index: 100;

  h1 {
    font-weight: bold;
  }

  .orbit-container {
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
  }
}

.polaroid {
  position: relative;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 55px solid #fff;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 14px/1 'Kaushan Script', cursive;
  color: #888;
  padding: 0px 10px;
}