.video-banner-holder {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  position: relative;

  .play-icon {
    font-size: 100px;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition-duration: 300ms;
      opacity: 1;
    }

    &.one {
      a {
        color: #225378;
      }
    }

    &.two {
      a {
        color: #1695A3;
      }
    }
  }

  .tabs-holder {
    margin-top: 100px;
    margin-bottom: -3px;
    width: 100%;
    display: inline-block;

    .section-tab {
      width: 50%;
      float: left;
      border: 1px solid lightgrey;
      cursor: pointer;
      padding: 30px;
      background-color: white;

      &.active {
        border: none;
        background-color: #f7f7f7;

        &:hover {
          background-color: #f7f7f7;
        }
      }

      &:hover {
        background-color: #F3FFE2;
      }
    }
  }
}