body, html {
  height: 100%;
  background-color: #f7f7f7;
}

#wrap {
  min-height: 100%;
  overflow: auto;
}

.height-buffer {
  position: absolute;
  height: 100%;
}

.main-holder {
  height: 100%;
}

.main-section {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 200px;
}

p {
  a {
    color: #1695A3;
    &:hover {
      color: #EB7F00;
    }
  }
}

.alert-box {
  text-align: center;
  margin-bottom: 0 !important;
}

.alert-box.notice {
  a {
    color: #ACF0F2;

    &:hover {
      color: #F3FFE2;
    }
  }
}

.reveal-modal {
  z-index: 200;
}

.tabs-content {
  .content {
    float: none;
  }
}

.divider {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  height: 3px;
  width: 40px;
  background: #1695A3;
  margin: 20px 0px 40px;
}

.inline-text-link {
  color: #1695A3;
  &:hover {
    color: #EB7F00;
  }
}

.make-square-button {
  border-radius: 0px !important;
}

.dropdown-icon::before {
  margin-right: 5px !important;
  font-size: 14px !important;
  text-align: center;
  color: #1695A3;
}

#wufoo-zp8jjzv1xyewjl {
  height: 550px;
  iframe {
    height: 550px;
  }
}

.reveal-modal-bg {
  z-index: 100 !important;
}