body, html {
  height: 100%;
}

#wrap {
  min-height: 100%;
  overflow: auto;
}

.height-buffer {
  position: absolute;
  height: 100%;
}

.main-holder {
  height: 100%;
}

.main-section {
  height: 100%;
  padding-bottom: 60px;
}

.alert-box {
  text-align: center;
}

.footer {
  border-top: 1px solid lightgrey;
  height: 45px;
  clear: both;
  position: relative;
  background-color: #F3FFE2;
  color: #225378;
  margin-top: -45px;
  .footer-content {
    margin-top: 16px;
    font-size: 14px;
  }
}