.landing-banner {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("https://s3-us-west-2.amazonaws.com/timeauction/nicaragua_volunteering.jpg");
  position: relative;
  margin-top: -20px;
  border-bottom: 1px solid lightgrey;
}

.landing-banner-title {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  h1 {
    color: white;
    font-weight: bold;
  }
  h3.subheader {
    color: #F3FFE2;
    margin-top: -5px;
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 40%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}