.off-canvas-wrap, .inner-wrap {
  height: 100%;
}

nav.tab-bar {
  a {
    color: white;
    &:hover {
      color: #EFECCA;
    }
  }
}

.nav-dropdown {
  li {
    a {
      color: #002F2F;
      &:hover {
        color: #046380;
      }
    }
  }
}

.mobile-user-account-holder {
  cursor: pointer;
}

#mobile-user-account {
  width: 100px !important;
  text-align: left;
  left: -70px !important;
  top: 35px !important;
  &:before, &:after {
    left: auto;
    right: 1px;
  }
}

.mobile-sign-in-icon {
  height: 100%;
  width: 100%;
  display: block;
}