.off-canvas-wrap, .inner-wrap {
  height: 100%;
}

nav.tab-bar {
  a {
    color: white;
    &:hover {
      color: #EFECCA;
    }
  }
}

.nav-dropdown {
  li {
    a {
      color: #002F2F;
      &:hover {
        color: #046380;
      }
    }
  }
}