.off-canvas-wrap, .inner-wrap {
  height: 100%;
}

nav.tab-bar {
  a {
    color: #225378;
    &:hover {
      color: #1695A3;
    }
  }
  border-bottom: 1px solid lightgrey;
}

.nav-dropdown {
  li {
    a {
      color: #225378;
      &:hover {
        color: #1695A3;
      }
    }
  }
}

.mobile-user-account-holder {
  cursor: pointer;
}

#mobile-user-account {
  width: 100px !important;
  text-align: left;
  left: -70px !important;
  top: 35px !important;
  &:before, &:after {
    left: auto;
    right: 1px;
  }
}

.mobile-sign-in-icon {
  height: 100%;
  width: 100%;
  display: block;
}

.user-avatar {
  width: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

nav.tab-bar h1 {
  font-weight: 200 !important;
}

.top-nav-link {
  font-size: 14px;
  margin-left: 25px;
  margin-top: 5px;
  i {
    margin-right: 5px;
  }
}

.medium-icon-links {
  font-size: 30px;
  margin-top: 10px;
  a {
    margin-right: 15px;
  }
}