= "Hi #{@hours_entry.contact_name.downcase.titleize.strip},".html_safe
br
br
= "My name is David and I'm with Time Auction (#{link_to 'www.timeauction.org', root_url}), a website that recognizes and rewards great volunteering work.".html_safe
br
br
= "As part of our standard procedure, can you please reply with a quick confirmation that #{@user.display_name.titleize} put in the following volunteer hours for #{@hours_entry.nonprofit.name}?".html_safe
br
br
| --
br
br
- @similar_entries.each do |entry|
  = "<strong>#{entry.amount}</strong> volunteer #{'hours'.pluralize(entry.amount)} (#{entry.display_dates})".html_safe
  br
= "#{simple_format(@hours_entry.description.strip)}".html_safe
| --
br
br
| Thank you,
br
| David
br
br
| -- 
br
= "<strong>David Wen,</strong> Co-Founder".html_safe
br
= link_to "www.timeauction.org", root_url