.edit-users-organizations-section {
  line-height: 25px;

  .account-setting-edit-org-button {
    margin-top: 10px;
  }
}

.upload-photo-section {
  margin-bottom: 20px;

  .current-image {
    float: left;
    width: 50px;
  }

  .current-image-comment {
    margin-left: 50px;
  }

  @media only screen and (max-width: 40em) { 
    .current-image-comment {
      padding-top: 3px;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .current-image-comment {
      padding-top: 10px;
    }
  }

  .profile-picture-upload-button {
    margin-top: 20px;
  }
}

.currently-waiting-confirmation {
  margin-top: -17px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: #ACF0F2;
}


.update-card-holder {
  background-color: white;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
  border: 1px solid lightgrey;

  .each-card:not(:last-child) {
    margin-bottom: 20px;
  }

  .last-4-digits {
    margin-bottom: 5px;
  }

  .update-card-button {
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .delete-card-button {
    margin-bottom: 0px;
  }
}

.unhappy-link {
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  .card-buttons-holder {
    margin-top: 20px;
  }
}