.edit-users-organizations-section {
  line-height: 25px;

  .account-setting-edit-org-button {
    margin-top: 10px;
  }
}

.upload-photo-section {
  margin-bottom: 20px;

  .current-image {
    float: left;
    width: 50px;
  }

  .current-image-comment {
    margin-left: 50px;
  }

  @media only screen and (max-width: 40em) { 
    .current-image-comment {
      padding-top: 3px;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .current-image-comment {
      padding-top: 10px;
    }
  }

  .profile-picture-upload-button {
    margin-top: 20px;
  }
}

.unhappy-link {
  cursor: pointer;
}