.banner-title {
  margin-top: -20px;
  position: relative;
  background-color: #225378;
  min-height: 200px;

  .title-holder {
    position: relative;

    .profile-picture-edit-overlay {
      position: absolute;
      text-align: center;
      color: transparent;

      &:hover {
        color: white;
        background-color:rgba(0, 0, 0, 0.25);
      }
    }

    .left-side {
      float: left;
    }

    .title-text {
      font-size: 30px;
      font-weight: 500;
      color: #F3FFE2;
      font-family: Open Sans, Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
    }

    .about-me {
      margin: 10px 0px;
      font-size: 14px;
      line-height: 1.3;
      color: #ACF0F2;

      .about-me-input {
        margin-top: 15px;
      }
    }

    .edit-about-me {
      color: #ACF0F2;
      i {
        margin-left: 5px;
      }
    }

    .profile-karma-count {
      color: #F3FFE2;

      .label {
        font-size: 16px;
        margin-right: 5px;
        margin-top: 10px;
        text-align: center;
      }

      a {
        color: #F3FFE2;

        &:hover {
          color: #ACF0F2;
        }
      }
    }
  }

  @media(max-width:767px) {
    .title-holder{
      margin: 20px 0px;

      .profile-picture-edit-overlay {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        padding-top: 25px;
      }  

      .mobile-edit-profile-picture-link {
        color: #ACF0F2;
        font-size: 12px;
        margin-left: 20px;
      }


      .left-side {
        width: 75px;
      }

      .right-side {
        margin-left: 75px;
      }
    }

    .title-text {
      font-size: 24px;
    }

    .user-avatar-large {
      width: 60px;
    }
  }

  @media(min-width:768px) {
    .title-holder{
      margin: 45px 0px;

      .profile-picture-edit-overlay {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        padding-top: 63px;
      }

      .left-side {
        width: 130px;
      }

      .right-side {
        margin-left: 130px;
      }
    }
    
    .title-text {
      font-size: 28px;
    }
  }
}

.profile-badge {
  font-size: 30px;
  color: #F3FFE2;
}