.banner-title {
  min-height: 200px;
  margin-top: -20px;
  position: relative;
  background-color: #225378;

  .title-holder {
    .left-side {
      float: left;
    }

    .title-text {
      font-size: 30px;
      font-weight: 500;
      color: white;
      font-family: Open Sans, Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
    }
  }

  @media(max-width:767px) {
    .title-holder{
      margin-top: 20px;

      .left-side {
        width: 80px;
      }

      .right-side {
        margin-left: 80px;
      }
    }

    .title-text {
      font-size: 24px;
    }

    .user-avatar-large {
      width: 60px;
    }
  }

  @media(min-width:768px) {
    .title-holder{
      margin-top: 45px;

      .left-side {
        width: 130px;
      }

      .right-side {
        margin-left: 130px;
      }
    }
    
    .title-text {
      font-size: 28px;
    }
  }
}