.user-profile-page {
  .section-tabs-holder {
    margin-top: -32px;
    margin-bottom: 20px;

    .section-tab {
      padding: 10px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      cursor: pointer;

      &:hover, &.selected {
        background-color: #F3FFE2;
        border-bottom: 1px solid #225378;
      }
    }
  }

  .tabs-sections-holder {
    display: none;
  }
}

.show-details-button {
  position: absolute;
  width: 130px;
  bottom: -13px;
  left: 50%;
  margin-left: -65px;
  text-align: center;
  background-color: #ACF0F2;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  i {
    margin-right: 5px;
  }
}