.user-profile-page {
  .section-tabs-holder {
    margin-top: -32px;
    margin-bottom: 20px;

    .section-tab {
      padding: 10px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      cursor: pointer;

      &:hover, &.selected {
        background-color: #F3FFE2;
        border-bottom: 1px solid #225378;
      }
    }
  }

  .tabs-sections-holder {
    display: none;
  }
}