.limited-text {
  font-size: 12px;
  font-style: italic;
  color: #ACF0F2;

  i.fa.fa-map-marker {
    margin-right: 9px;
    font-size: 14px;
  }

  i.fa.fa-ticket {
    margin-right: 5px;
  }
}

.auction-reward-description {
  margin-top: 15px;
  p {
    font-size: 12px;
  }
}

.question-hours {
  font-style: italic;
  margin-top: 10px;
  font-size: 12px;
  color: #ACF0F2;

  .hour-detail {
    margin-top: 5px;
  }

  i.fa.fa-question-circle {
    margin-left: 5px;
    color: #F3FFE2;
    border: none;
    cursor: pointer;
  }
}