.upgrade-details-holder {
  background-color: #F7F7F7;
  padding: 10px;
}

.upgrade-action-holder {
  padding-top: 10px;
}

.upgrade-button, .upgrade-payment-button {
  font-size: 14px !important;
}

.upgrade-price {
  padding: 12px 0px 10px 10px !important;
  color: black;
  font-style: italic;
  font-size: 14px;
}

.donate-explanation {
  font-size: 14px;
  color: black;
  margin: 10px 0;
}

.back-on-upgrade-payment {
  // text-align: left !important;
  font-style: italic;
  font-size: 12px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    color: #225378;
  }
}

.no-thanks-on-premium {
  // text-align: right !important;
  font-style: italic;
  font-size: 12px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    color: #225378;
  }
}

.note-under-payment-button {
  font-size: 12px;
  color: black;
  font-style: italic;
}