.row style="text-align: center; margin-top: 30px;"
  .small-12.columns
    h4
      = "Next round of auctions will start in October. #{link_to 'Subscribe', email_alerts_path} to stay tuned!".html_safe